$step: 2;

@for $i from 0 through 15 {
  .ma-#{$i} {
    margin: $i * $step + 0px;
  }

  .pa-#{$i} {
    padding: $i * $step + 0px;
  }

  .mx-#{$i} {
    margin-left: $i * $step + 0px;
    margin-right: $i * $step + 0px;
  }

  .px-#{$i} {
    padding-left: $i * $step + 0px;
    padding-right: $i * $step + 0px;
  }

  .my-#{$i} {
    margin-top: $i * $step + 0px;
    margin-bottom: $i * $step + 0px;
  }

  .py-#{$i} {
    padding-top: $i * $step + 0px;
    padding-bottom: $i * $step + 0px;
  }

  .mt-#{$i} {
    margin-top: $i * $step + 0px;
  }

  .pt-#{$i} {
    padding-top: $i * $step + 0px;
  }

  .mb-#{$i} {
    margin-bottom: $i * $step + 0px;
  }

  .pb-#{$i} {
    padding-bottom: $i * $step + 0px;
  }

  .mr-#{$i} {
    margin-right: $i * $step + 0px;
  }

  .pr-#{$i} {
    padding-right: $i * $step + 0px;
  }

  .ml-#{$i} {
    margin-left: $i * $step + 0px;
  }

  .pl-#{$i} {
    padding-left: $i * $step + 0px;
  }
}

// for small-size devices
@media (min-width: 640px) {
  @for $i from 0 through 15 {
    .ma-sm-#{$i} {
      margin: $i * $step + 0px;
    }

    .pa-sm-#{$i} {
      padding: $i * $step + 0px;
    }

    .mx-sm-#{$i} {
      margin-left: $i * $step + 0px;
      margin-right: $i * $step + 0px;
    }

    .px-sm-#{$i} {
      padding-left: $i * $step + 0px;
      padding-right: $i * $step + 0px;
    }

    .my-sm-#{$i} {
      margin-top: $i * $step + 0px;
      margin-bottom: $i * $step + 0px;
    }

    .py-sm-#{$i} {
      padding-top: $i * $step + 0px;
      padding-bottom: $i * $step + 0px;
    }

    .mt-sm-#{$i} {
      margin-top: $i * $step + 0px;
    }

    .pt-sm-#{$i} {
      padding-top: $i * $step + 0px;
    }

    .mb-sm-#{$i} {
      margin-bottom: $i * $step + 0px;
    }

    .pb-sm-#{$i} {
      padding-bottom: $i * $step + 0px;
    }

    .mr-sm-#{$i} {
      margin-right: $i * $step + 0px;
    }

    .pr-sm-#{$i} {
      padding-right: $i * $step + 0px;
    }

    .ml-sm-#{$i} {
      margin-left: $i * $step + 0px;
    }

    .pl-sm-#{$i} {
      padding-left: $i * $step + 0px;
    }
  }
}

// for medium-size devices
@media (min-width: 768px) {
  @for $i from 0 through 15 {
    .ma-md-#{$i} {
      margin: $i * $step + 0px;
    }

    .pa-md-#{$i} {
      padding: $i * $step + 0px;
    }

    .mx-md-#{$i} {
      margin-left: $i * $step + 0px;
      margin-right: $i * $step + 0px;
    }

    .px-md-#{$i} {
      padding-left: $i * $step + 0px;
      padding-right: $i * $step + 0px;
    }

    .my-md-#{$i} {
      margin-top: $i * $step + 0px;
      margin-bottom: $i * $step + 0px;
    }

    .py-md-#{$i} {
      padding-top: $i * $step + 0px;
      padding-bottom: $i * $step + 0px;
    }

    .mt-md-#{$i} {
      margin-top: $i * $step + 0px;
    }

    .pt-md-#{$i} {
      padding-top: $i * $step + 0px;
    }

    .mb-md-#{$i} {
      margin-bottom: $i * $step + 0px;
    }

    .pb-md-#{$i} {
      padding-bottom: $i * $step + 0px;
    }

    .mr-md-#{$i} {
      margin-right: $i * $step + 0px;
    }

    .pr-md-#{$i} {
      padding-right: $i * $step + 0px;
    }

    .ml-md-#{$i} {
      margin-left: $i * $step + 0px;
    }

    .pl-md-#{$i} {
      padding-left: $i * $step + 0px;
    }
  }
}

// for large-size devices
@media (min-width: 1024px) {
  @for $i from 0 through 15 {
    .ma-lg-#{$i} {
      margin: $i * $step + 0px;
    }

    .pa-lg-#{$i} {
      padding: $i * $step + 0px;
    }

    .mx-lg-#{$i} {
      margin-left: $i * $step + 0px;
      margin-right: $i * $step + 0px;
    }

    .px-lg-#{$i} {
      padding-left: $i * $step + 0px;
      padding-right: $i * $step + 0px;
    }

    .my-lg-#{$i} {
      margin-top: $i * $step + 0px;
      margin-bottom: $i * $step + 0px;
    }

    .py-lg-#{$i} {
      padding-top: $i * $step + 0px;
      padding-bottom: $i * $step + 0px;
    }

    .mt-lg-#{$i} {
      margin-top: $i * $step + 0px;
    }

    .pt-lg-#{$i} {
      padding-top: $i * $step + 0px;
    }

    .mb-lg-#{$i} {
      margin-bottom: $i * $step + 0px;
    }

    .pb-lg-#{$i} {
      padding-bottom: $i * $step + 0px;
    }

    .mr-lg-#{$i} {
      margin-right: $i * $step + 0px;
    }

    .pr-lg-#{$i} {
      padding-right: $i * $step + 0px;
    }

    .ml-lg-#{$i} {
      margin-left: $i * $step + 0px;
    }

    .pl-lg-#{$i} {
      padding-left: $i * $step + 0px;
    }
  }
}

// for extra large-size devices
@media (min-width: 1280px) {
  @for $i from 0 through 15 {
    .ma-xl-#{$i} {
      margin: $i * $step + 0px;
    }

    .pa-xl-#{$i} {
      padding: $i * $step + 0px;
    }

    .mx-xl-#{$i} {
      margin-left: $i * $step + 0px;
      margin-right: $i * $step + 0px;
    }

    .px-xl-#{$i} {
      padding-left: $i * $step + 0px;
      padding-right: $i * $step + 0px;
    }

    .my-xl-#{$i} {
      margin-top: $i * $step + 0px;
      margin-bottom: $i * $step + 0px;
    }

    .py-xl-#{$i} {
      padding-top: $i * $step + 0px;
      padding-bottom: $i * $step + 0px;
    }

    .mt-xl-#{$i} {
      margin-top: $i * $step + 0px;
    }

    .pt-xl-#{$i} {
      padding-top: $i * $step + 0px;
    }

    .mb-xl-#{$i} {
      margin-bottom: $i * $step + 0px;
    }

    .pb-xl-#{$i} {
      padding-bottom: $i * $step + 0px;
    }

    .mr-xl-#{$i} {
      margin-right: $i * $step + 0px;
    }

    .pr-xl-#{$i} {
      padding-right: $i * $step + 0px;
    }

    .ml-xl-#{$i} {
      margin-left: $i * $step + 0px;
    }

    .pl-xl-#{$i} {
      padding-left: $i * $step + 0px;
    }
  }
}