.d {
  &-flex {
    display: flex;
  }

  &-block {
    display: block;
  }

  &-inline-block {
    display: inline-block;
  }

  &-inline {
    display: inline;
  }

  &-none {
    display: none;
  }
}

@media (min-width: 640px) {
  .d-sm {
    &-flex {
      display: flex;
    }

    &-block {
      display: block;
    }

    &-inline-block {
      display: inline-block;
    }

    &-inline {
      display: inline;
    }

    &-none {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .d-md {
    &-flex {
      display: flex;
    }

    &-block {
      display: block;
    }

    &-inline-block {
      display: inline-block;
    }

    &-inline {
      display: inline;
    }

    &-none {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .d-lg {
    &-flex {
      display: flex;
    }

    &-block {
      display: block;
    }

    &-inline-block {
      display: inline-block;
    }

    &-inline {
      display: inline;
    }

    &-none {
      display: none;
    }
  }
}

@media (min-width: 1280px) {
  .d-xl {
    &-flex {
      display: flex;
    }

    &-block {
      display: block;
    }

    &-inline-block {
      display: inline-block;
    }

    &-inline {
      display: inline;
    }

    &-none {
      display: none;
    }
  }
}
